[global]
    monitor = 0
    follow = mouse
    width = (300, 400)
    height = 300
    offset = 20x50
    origin = top-right
    transparency = 10
    notification_limit = 5
    padding = 12
    horizontal_padding = 12
    frame_width = 2
    frame_color = "#7dcfff"
    font = {{ selected_sans_font | default('Inter') }} 10

[urgency_low]
    background = "#1a1b26"
    foreground = "#c0caf5"
    timeout = 3

[urgency_normal]
    background = "#1a1b26"
    foreground = "#c0caf5"
    timeout = 5

[urgency_critical]
    background = "#1a1b26"
    foreground = "#f7768e"
    frame_color = "#f7768e"
    timeout = 0
