background {
    monitor =
    path = {{ ansible_env.HOME }}/Pictures/Wallpapers/default.jpg
    blur_passes = 2
    blur_size = 7
}

input-field {
    monitor =
    size = 200, 50
    outline_thickness = 2
    dots_size = 0.33
    dots_spacing = 0.15
    fade_on_empty = false
    font_color = rgb(192, 202, 245)
    outer_color = rgb(125, 207, 255)
    inner_color = rgb(26, 27, 38)
}

label {
    monitor =
    text = $TIME
    color = rgb(192, 202, 245)
    font_size = 64
    font_family = {{ selected_sans_font | default('Inter') }}
    position = 0, 80
    halign = center
    valign = center
}
