max-history=100
sort=-time

font={{ selected_sans_font | default('Inter') }} 10
background-color=#1a1b26
text-color=#c0caf5
border-color=#7dcfff
border-size=2
border-radius=8
default-timeout=5000
padding=12
margin=10
width=350
height=110

[urgency=low]
border-color=#414868
default-timeout=3000

[urgency=high]
border-color=#f7768e
default-timeout=0
