[
    {
        "label" : "lock",
        "action" : "{% if selected_wm in ['hyprland', 'sway', 'niri', 'river'] %}hyprlock || swaylock{% else %}i3lock{% endif %}",
        "text" : "Lock",
        "keybind" : "l"
    },
    {
        "label" : "hibernate",
        "action" : "systemctl hibernate",
        "text" : "Hibernate",
        "keybind" : "h"
    },
    {
        "label" : "logout",
        "action" : "{% if selected_wm == 'hyprland' %}hyprctl dispatch exit{% elif selected_wm == 'sway' %}swaymsg exit{% else %}loginctl terminate-user $USER{% endif %}",
        "text" : "Logout",
        "keybind" : "e"
    },
    {
        "label" : "shutdown",
        "action" : "systemctl poweroff",
        "text" : "Shutdown",
        "keybind" : "s"
    },
    {
        "label" : "suspend",
        "action" : "systemctl suspend",
        "text" : "Suspend",
        "keybind" : "u"
    },
    {
        "label" : "reboot",
        "action" : "systemctl reboot",
        "text" : "Reboot",
        "keybind" : "r"
    }
]
