* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 14px;
}

window {
    background-color: rgba(30, 30, 46, 0.85);
}

button {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 10px;
{% if selected_theme == 'catppuccin-latte' %}
    color: #4c4f69;
    background-color: #eff1f5;
    border-color: #ca9ee6;
{% elif selected_theme == 'nord' %}
    color: #eceff4;
    background-color: #2e3440;
    border-color: #81a1c1;
{% else %}
    color: #cdd6f4;
    background-color: #1e1e2e;
    border-color: #cba6f7;
{% endif %}
}

button:focus, button:active, button:hover {
    background-color: rgba(203, 166, 247, 0.2);
    border-color: #f5e0dc;
}
