* {
    border: none;
    border-radius: 0;
    font-family: "{{ selected_sans_font | default('Inter') }}", "Font Awesome 6 Free";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #1a1b26;
    color: #c0caf5;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #565f89;
}

#workspaces button.active {
    color: #7dcfff;
}

#clock, #network, #pulseaudio, #battery, #tray {
    padding: 0 10px;
    color: #c0caf5;
}
